

* {
    padding: 0;
    margin: 0;
}


:root {
    --bg-color:#6495ED;
}

body{
    position: relative;
}

body::before {
    content: "";
    position: absolute;
/* iftekher protfolio website\image\background.jpg */
    background:url(background.jpg);
    height: 100%;
    width: 100%;
    background-repeat:repeat-y;
    background-size: cover;
    background-attachment: fixed; 
    top: 0;
    z-index: -10;
    opacity: 0.3;
}

nav {
    background:cornflowerblue;
    color: white;
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 50;

}
.social-media a{
    display: flex;
    aspect-ratio: 1;
    align-items: center;
    background:cornflowerblue;
    transition: all 0.3s ease-in-out;
}
.social-media a:hover {
 transform: scale(1.2);
}

/* #home,#service,#gallery,#skill,#contact {
    height: 100vh;
} */
.hero {
    overflow: hidden;
}


.hero-content {
    overflow: hidden;
}
.hero-content h3 {
    position: relative;
}
.hero-content h3::after {
    content: "";
    position: absolute;
    top:50%;
    height: 2px;
    margin-left:1%;
    width: 100%;
    background: #000;
}

.hero-image img {
    border-bottom-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-left: 2px solid slategray !important;
    border-right: 2px solid slategray !important;
}

.active {

    border-radius: 50% !important;

    color: var(--bg-color) !important;
    background: white;
    animation: scale 0.7s ease-in-out infinite alternate;
}
 @keyframes scale {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
 }


.content-section h2,.gallery-title h1 {
    border-bottom: 2px solid;
}





.skill-group {

   height: 2.5rem;
   color: tomato;
   text-transform: uppercase;
   overflow: hidden;
   /* border: 2px solid red; */
   width: 100%;
   
}
.skill-base {
    width: 100%;
    animation: flow 5s ease-in-out infinite alternate;

}


@keyframes flow {

    25% {
        transform: translateY(-0.6%);
    } 
    50% {
        transform: translateY(-25%);
    } 
    75% {
        transform: translateY(-50%);
    } 
    0%,100%  {
        transform: translateY(-80%);
    }
}


.about-content h3,.contact-image h3 {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-right: 2px solid white ;
    animation: type 4s ease-in-out infinite alternate;

}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 22ch;
  }
}

.skills-content {
    background: var(--bg-color);
}

.skills-items {

    overflow: hidden;
}

.skills-items .items {
    border-radius: 1rem !important;
    transition: all 0.3s ease-in-out; 
}

.skills-items .items:hover {
    box-shadow: 0px 7px 40px -10px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 7px 40px -10px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 7px 40px -10px rgba(0,0,0,0.58);

}
/* .skills-items .icon{
    font-size: 30px;
} */





.gallery-photo img {
    aspect-ratio:1;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    filter: brightness(90%);
    z-index: 0;
}
.gallery-photo img {

}

.social-pos {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.gallery-photo img:hover {
    filter: brightness(120%) contrast(120%);
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;

}


.social a {
    background: var(--bg-color);

}

.social-pos .social {
    position: absolute;
     top: 50%;
     left: 50%;
     background: rgba(255, 255, 255, 0.3);

     height: 100%;
     width: 100%;
     transform: translate(-50%,-50%) scale(0);
     z-index: -2;
     transition: all 0.3s ease-in-out;

}   



.gallery-photo .social-pos:hover .social{
    z-index: 2;
    transform:translate(-50%,-50%) scale(1);

    
}


.skill-title {
    position: relative;
    color: #6495ED;

}
.skill-title::before {
    content: "";
    position: absolute;
    background: var(--bg-color);
    left: -25%;
    top:50%;
    height: 5%;
    width: 50%;
}
.skill-title::after {
    content: "";
    position: absolute;
    background: var(--bg-color);
    right: -25%;
    top:50%;
    height: 5%;
    width: 50%;
}

.skill-content i,.contact-image i {
    font-size: 2rem ;
}




.footer-content h2{
    transition: all 0.3s ease-in-out;
}
.footer-content h2:hover {
    color: var(--bg-color);
}




.contact-image :is(.gmail,.whatsapp) {
    background: #f1f1f1;
    transition: all 0.5s ease-in-out;
}


.contact-image :is(.gmail,.whatsapp):hover {
    background:#6495ED;
    color: white;
}


.title span {
    background: var(--bg-color);
    color: white;
}



button.input-button {
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 0.3s ease-in-out;
}

button.input-button:hover {
    background: white;
    color: var(--bg-color);
}

button.download {
    transition: all 0.3s ease-in-out;
}
button.download:hover {
    color: var(--bg-color);
    background: white;
}


.footer-menu a {
    transition: all 0.3s ease-in-out;
}
.footer-menu a:hover {
    color: var(--bg-color);
}
